.header img{
    height: 150px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: purple;
    line-height: 60px;
    font-size: 20px;
    font-weight: bold;

}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 40px;
    padding: 7px;
}
nav a:hover{
    background-color: rgb(223, 119, 119);
    color: black;
}